@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-sidebar: #FFF7F0C9;
    --color-button-border: #0000008C;
    --color-table-border: #0000001A;
    --color-table-header: #7C7C7C;
    --color-table-body: #3C3835;
    --color-checkbox-border: #00000066;
}

body {
    font-family: "Inter", sans-serif;
}